@{
    this.ViewData["Title"] = "Who we are.";
}

<!-- Page Preloder -->
<div id="preloder">
    <div class="loader"></div>
</div>

<div class="text-center">
    <h1>@this.ViewData["Title"]</h1>
    <br />
    <p>We believe in a world where you have total freedom to be you, without judgement. To experiment. To express yourself. To be brave and grab life as the extraordinary adventure it is. So we make sure everyone has an equal chance to discover all the amazing things they’re capable of – no matter who they are, where they’re from or what looks they like to boss. We exist to give you the confidence to be whoever you want to be.</p>
    <h3>THE LEGAL BIT</h3>
    <br />
    <p>Company Name: NERO boutique</p>
    <p>Limited Registered Address : Bulgaria Sofia bul.Bulgaria 120</p>
    <p>Email Address: NEROboutique@gmail.com</p>
    <p>Company Registration Number: 03584121234213423</p>
    <p>Authorised Representative: Gloria Momchilova CEO</p>
    <p>TEL number: (+359) 788 6225 77</p>
</div>
