@{
    this.ViewData["Title"] = "Cookie Privacy Policy";
}
<h1>@this.ViewData["Title"]</h1>

<!-- Page Preloder -->
<div id="preloder">
    <div class="loader"></div>
</div>

<article class="accordion">
    <p><p>We use cookies when you visit our site, but you can control these through your browser settings. You can find out how to manage cookies on your devices below.</p>
    <p><strong>What are cookies?</strong></p>
    <p>Cookies are data files that can hold small amounts of info and are stored on your device (computer, smartphone etc) when you first visit a website.</p>

    <p><strong>How do we use them?</strong></p>
    <p>We use cookies for:</p>
    <ul>
        <li>essential operations, like site navigation</li>
        <li>allowing you to add items to your shopping bag or to your Saved Items </li>
        <li>analysing visitor numbers and behaviours, such as what pages are frequently visited</li>
        <li>assessing the success of our advertising campaigns, offers and communications</li>
        <li>targeting suitable advertising messages </li>
        <li>understanding which Affiliates have helped us reach out to new customers, or have promoted our products on their websites</li>
    </ul>

    <p><strong>What types of cookies do we use?</strong></p>

    <p>There are four main types.</p>

    <p>(1) Site functionality cookies &ndash; these allow you to navigate the site and use our features, such as &ldquo;Add to Bag&rdquo; and &ldquo;Save for Later&rdquo;.</p>
    <p>(2) Site analytics cookies &ndash; these cookies allow us to measure and analyse how our customers use the site, to improve both its functionality and your shopping experience.</p>
    <p>(3) Customer preference cookies &ndash; when you're browsing or shopping on ASOS, these cookies will remember your preferences (like your language or location), so we can make your shopping experience as seamless as possible, and more personal to you.</p>
    <p>(4) Targeting or advertising cookies &ndash; these are used to deliver ads relevant to you. They also limit the number of times that you see an ad and help us measure the effectiveness of our marketing campaigns.</p>


    <p><strong>How to manage cookies</strong></p>
    <p>Most browsers allow you to manage cookies saved on your device – just head to the help section of your browser. But don’t forget, if you modify your settings to block all cookies, you may not be able to access parts of our site or our service. </p></p>
    <dl aria-label="Accordion Control Button Group">
    </dl>
</article>
