@{
    this.ViewData["Title"] = "Contact";
}

<!-- Page Preloder -->
<div id="preloder">
    <div class="loader"></div>
</div>

<h2>Thank you for contact us </h2>
<h3>Expect reply to your email address.</h3>

<div class="jumbotron text-center">
    <h1 class="display-3">Thank You!</h1>
    <p class="lead"><strong>Expect reply to your email address.</strong></p>
    <hr>
    <p class="lead">
        <a class="btn btn-primary btn-sm" asp-area="" asp-controller="Home" asp-action="Index" role="button">Continue to homepage</a>
    </p>
</div>

