@model WebStore.Web.ViewModels.ViewComponents.NavBarViewModel


<li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>

@if (Model.NavBarItems.Any())
{
    @foreach (var item in Model.NavBarItems)
    {
        <li>
            <a href="#">@item.ParentCategory.Name</a>
            <ul class="sub-menu">
                @if (item.SubCategories.Any())
                {
                    @foreach (var subCategory in item.SubCategories)
                    {
                        <li><a href="#">@subCategory.Name</a></li>
                    }
                }

            </ul>
        </li>
    }
}


