@model WebStore.Web.ViewModels.ViewComponents.NavBarViewModel


@if (Model.NavBarItems.Any())
{
    @foreach (var item in Model.NavBarItems)
    {
        <li>
            <a asp-area="" asp-controller="Products" asp-action="Index" asp-route-ParentCategoryId="@item.ParentCategory.Id">@item.ParentCategory.Name</a>
            <ul class="sub-menu">
                @if (item.SubCategories.Any())
                {
                    @foreach (var subCategory in item.SubCategories)
                    {
                        <li><a asp-area="" asp-controller="Products" asp-action="Index" asp-route-ChildCategoryId="@subCategory.Id">@subCategory.Name</a></li>
                    }
                }

            </ul>
        </li>
    }
}


