@model int

<div class="up-item">
    <div class="shopping-card">
        <i class="flaticon-bag"></i>
        <span>@Model</span>
    </div>
    <a asp-area="" asp-controller="ShoppingCartItems" asp-action="Index">Shopping Cart</a>
</div>
