<div class="jumbotron text-center">
    <h1 class="display-3">Thank You!</h1>
    <hr>
    <p>
        Having trouble? <a asp-controller="Home" asp-action="Contact">Contact us</a>
    </p>
    <p class="lead">
        <a class="btn btn-primary btn-sm" asp-area="" asp-controller="Home" asp-action="Index" role="button">Continue to homepage</a>
    </p>
</div>
