@using WebStore.Common
@using WebStore.Data.Models
@using Microsoft.AspNetCore.Identity

@inject SignInManager<ApplicationUser> SignInManager

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@this.ViewData["Title"] - @GlobalConstants.SystemName</title>


    <!-- Favicon -->
    <link href="~/BootstrapThem/img/favicon.ico" rel="shortcut icon" />

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300,300i,400,400i,700,700i" rel="stylesheet">


    <!-- Stylesheets -->
    <link href="~/BootstrapThem/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/BootstrapThem/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/BootstrapThem/css/flaticon.css" rel="stylesheet" />
    <link href="~/BootstrapThem/css/slicknav.min.css" rel="stylesheet" />
    <link href="~/BootstrapThem/css/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/BootstrapThem/css/owl.carousel.min.css" rel="stylesheet" />
    <link href="~/BootstrapThem/css/animate.css" rel="stylesheet" />
    <link href="~/BootstrapThem/css/style.css" rel="stylesheet" />
</head>
<body>
    <!-- Header section -->
    <header class="header-section">
        <div class="header-top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-2  text-center text-lg-left">
                        <!-- logo -->
                        <a asp-area="" asp-controller="Home" asp-action="Index" class="site-logo">
                            <img src="~/BootstrapThem/img/NeroboutiqueLogo.png" alt="">
                        </a>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4">
                        <form class="header-search-form">
                            <input type="text" placeholder="Not Implemented  ....">
                            <button><i class="flaticon-search"></i></button>
                        </form>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6">
                        <partial name="_LoginPartial" />
                    </div>
                </div>
            </div>
        </div>
        <nav class="main-navbar">
            <div class="container">
                <!-- menu -->

                <ul class="main-menu">
                    <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                    <li><a asp-area="" asp-controller="Products" asp-action="Index">Products</a></li>
                    <vc:nav-bar color="" size="" brand-name=""></vc:nav-bar>
                    @if (this.SignInManager.IsSignedIn(this.User))
                    {
                        if (this.User.IsInRole(GlobalConstants.AdministratorRoleName))
                        {
                            <li><a asp-area="Administration" asp-controller="Orders" asp-action="AllOrders">Orders</a></li>
                            <li>
                                <a asp-area="Administration" asp-controller="Products" asp-action="All">Products</a>
                                <ul class="sub-menu">
                                    <li><a asp-area="Administration" asp-controller="Products" asp-action="ChooseCategory">Create</a></li>
                                </ul>
                            </li>
                        }
                        else
                        {
                            <li><a asp-area="" asp-controller="Orders" asp-action="MyOrders">My Orders</a></li>
                            <li><a asp-area="" asp-controller="Favorites" asp-action="MyProducts">My Favorite Products</a></li>

                        }

                    }
                </ul>
            </div>
        </nav>

    </header>

    <div class="container">
        <partial name="_CookieConsentPartial" />

        <div class="pb-3">
            @this.RenderBody()
        </div>

    </div>

    <!-- Footer section -->
    <section class="footer-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-sm-6">
                    <div class="footer-widget about-widget">
                        <h2>About</h2>
                        <p>Donec vitae purus nunc. Morbi faucibus erat sit amet congue mattis. Nullam frin-gilla faucibus urna, id dapibus erat iaculis ut. Integer ac sem.</p>
                        <img src="~/BootstrapThem/img/cards.png" alt="">
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="footer-widget about-widget">
                        <h2>MY ACCOUNT</h2>
                        <div class="fw-latest-post-widget">
                            <ul>
                                <li><a asp-area="Identity" asp-controller="Account" asp-action="Manage">My Acount</a></li>
                                <li><a href="">Order History</a></li>
                                <li><a href="">Favorite products</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="footer-widget about-widget">
                        <h2>Questions</h2>
                        <ul>
                            <li><a asp-controller="Home" asp-action="Contact">Contact Us</a></li>
                            <li><a asp-controller="Home" asp-action="About">About Us</a></li>
                            <li><a asp-controller="Home" asp-action="Privacy">Privacy Notice</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="footer-widget contact-widget">
                        <h2>ABOUT OUR COMPANY</h2>
                        <div class="con-info">
                            <span>C.</span>
                            <p>NERO boutique LTD </p>
                        </div>
                        <div class="con-info">
                            <span>B.</span>
                            <p>Bulgaria Sofia bul.Bulgaria 120 </p>
                        </div>
                        <div class="con-info">
                            <span>T.</span>
                            <p>(+359) 788 6225 77</p>
                        </div>
                        <div class="con-info">
                            <span>E.</span>
                            <p>NEROboutique@gmail.com</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Footer section end -->

    <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js" asp-append-version="true"></script>
    <script src="~/lib/moment/min/moment-with-locales.min.js" asp-append-version="true"></script>
    <script src="~/js/site.min.js" asp-append-version="true"></script>
    @this.RenderSection("Scripts", required: false)

    <!--====== Javascripts & Jquery ======-->
    <script src="~/BootstrapThem/js/jquery-3.2.1.min.js"></script>
    <script src="~/BootstrapThem/js/bootstrap.min.js"></script>
    <script src="~/BootstrapThem/js/jquery.slicknav.min.js"></script>
    <script src="~/BootstrapThem/js/owl.carousel.min.js"></script>
    <script src="~/BootstrapThem/js/jquery.nicescroll.min.js"></script>
    <script src="~/BootstrapThem/js/jquery.zoom.min.js"></script>
    <script src="~/BootstrapThem/js/jquery-ui.min.js"></script>
    <script src="~/BootstrapThem/js/main.js"></script>
</body>
</html>
