@inject ICategoryService categoryService


<li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>

@if (categoryService.GetAllParentCategories<CategoryViewModel>() != null)
{
    @foreach (var ParenCategory in categoryService.GetAllParentCategories<CategoryViewModel>())
    {
        <li>
            <a href="#">@ParenCategory.Name</a>
            <ul class="sub-menu">
                @if (categoryService.GetAllSubCategoriesByParentId<CategoryViewModel>(ParenCategory.Id) != null)
                {
                    @foreach (var childCategory in categoryService.GetAllSubCategoriesByParentId<CategoryViewModel>(ParenCategory.Id))
                    {
                        <li><a href="#">@childCategory.Name</a></li>
                    }
                }

            </ul>
        </li>
    }
}

